.footer__content {
  display: flex;
  justify-content: space-between;
  color: white;

  /* background-color: linear-gradient(180deg, #0a2850 #071831 100%); */
}

.footer {
  background: linear-gradient(180deg, #0a2850, #071831 100%);
  padding-top: 60px;
  padding-right: 80px;
}

.footer__logo {
  height: 39px;
  width: 105px;
  margin-left: 80px;
}

.footer__list {
  font-style: normal;
  font-weight: 16px;
  line-height: 20px;
  padding: 0;
  list-style-type: none;
}

.footer__copyright {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  padding-top: 108px;
  margin-left: 80px;
  padding-bottom: 60px;
}

.footer__social-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* display: flex; */
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /*display: flex; */
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer__social-link {
  color: white;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #2f80ed;
  transition: color 1s ease-in-out;
}
