.footer__content {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 60px;

  /* background-color: linear-gradient(180deg, #0a2850 #071831 100%); */
}

.footer {
  background: linear-gradient(180deg, #0a2850, #071831 100%);
}

.footer__logo {
  font-style: normal;
  font-weight: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  /* height: 105px;
    width: 39px; */
}

.footer__list {
  font-style: normal;
  font-weight: 16px;
  line-height: 20px;
  padding: 0;
  list-style-type: none;
}

.footer__copyright {
  font-style: normal;
  font-weight: 16px;
  line-height: 20px;
  color: white;
  padding-top: 108px;
  padding-bottom: 60px;
  padding-left: 80px;
}

.footer__social-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* display: flex; */
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer__list-item {
}

.footer__social-icon {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /*display: flex; */
  justify-content: space-between;
  color: white;
  list-style-type: none;
}

.footer__social-link {
}
