.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  background-image: url("../images/background_header.svg");
}

.header__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
}

.header__image {
  top: 124px;
  right: 5px;
  position: absolute;
  width: 646px;
  height: 586px;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: end;
}

.header_paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0;
  margin-left: 80px;
  margin-bottom: 40px;
}
